/* Basic page styling */
body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}
h1{
  font-family:cursive;

}
a{
    text-decoration:none;
  color:white;
}


/* Anime card */
div {
  margin: 20px;
  padding: 10px;
  border: 1px solid #444;
}
input::placeholder{
  
  color:black;
}
input{
  font-size:20px;
  border-radius: 5px;;
}
button{
  font-size:20px;
}